<tr>
  <td>
    <%= link_to post.title, post_path(post) %>
    <% if current_user && current_user.like_post?(post) %>
    <br>👍👍👍
    <% end %>
  </td>
  <td><%= post.user.display_name %></td>
  <td><%= post.visible_comments.size %></td>
  <td><%= post.subscriptions_count %></td>
  <td><%= post.visible_comments.map{ |c| c.user.display_name }.join(",") %></td>
  <td><%= post.liked_users.map{ |u| u.display_name }.join(",") %></td>
</tr>
