<h2>Posts</h2>

<table class="table">
  <tr>
    <th>標題</th>
    <th>作者</th>
    <th>留言用户</th>
    <th>按赞用户</th>
  </tr>
  <% @posts.each do |post| %>
    <tr>
      <td><%= link_to post.title, post_path(post) %></td>
      <td><%= post.user.display_name %></td>
      <!-- <td><%= post.comments.map{ |c| c.user.display_name }.join(",") %></td> -->
      <!-- <td><%= post.comments.visible.map{ |c| c.user.display_name }.join(",") %></td> -->
      <td><%= post.visible_comments.map{ |c| c.user.display_name }.join(",") %></td>
      <td><%= post.liked_users.map{ |u| u.display_name }.join(",") %></td>
    </tr>
  <% end %>
</table>

<%= paginate @posts %>
